.sign-up {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 380px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    
    background-size: cover;
    background-position: center;


    .title{
        margin:10px 0;
    }
}