
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.sign-up {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 380px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fde2e6;
    
    background-size: cover;
    background-position: center;
    
        font-family: 'Roboto', sans-serif; /* Apply the 'Roboto' font to the whole SignUp component */
      
      


    .title{
        margin:10px 0;
    }
}